* {
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: black; 
}

body {
  background-color: #ffffff;
}
body h1 {
  position: fixed;
  top: 200px;
  left: 150px;
  color: #41b3d3;
  font-size: 40px;
}

